nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logo {
    display: inline-flex;
    align-items: center;
    margin: auto 0 auto 24px;
}

.logo img,p {
    display: inline;
}

ul {
    list-style-type: none;
    margin-right: 16px;
}

li {
    display: inline-block;
    margin: 0 8px;
}

li > a {
    text-decoration: none;
    color: black;
}